// PRESET VARIABLES
@use "../sass/presets";

// WINDOW OVERLAY
.window-overlay {
  background-color: white;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
  .window-overlay__content {
    left: 50%;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -20%);
  }
}

// HEADER
.header {
  .header__h1 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 3rem;
    font-weight: 300;
  }
  .header__img {
    height: 3rem;
    position: relative;
    top: -0.33rem;
    width: 3rem;
  }
}

@media (min-width: 768px) {
  .header {
    .header__h1 {
      font-size: 5rem;
    }
    .header__img {
      height: 5rem;
      position: relative;
      top: -0.5rem;
      width: 5rem;
    }
  }
}

// QUESTIONS
.questions {
  .questions__flag {
    font-size: 5rem;
    line-height: 5rem;
  }

  .questions__shape {
    left: 50%;
    max-height: 5rem;
    max-width: 5rem;
    position: relative;
    transform: translate(-50%, 0px);
  }
}

// LIST COLUMNS
.list {
  column-count: 1;
}
@media (min-width: 768px) {
  .list {
    column-count: 2;
  }
}
@media (min-width: 1024px) {
  .list {
    column-count: 3;
  }
}

// RADIOS
.radio {
  width: 100%;
  .radio__input {
    display: none;
  }
  .radio__label {
    background-color: presets.$colorPrimary;
    border: 0.125rem solid presets.$colorTertiary;
    border-radius: 0.25rem;
    color: white;
    margin-bottom: 0.5rem;
    padding: 0.1rem;
    text-align: center;
    width: 100%;
  }
  .radio__input:checked ~ .radio__label {
    background-color: white;
    border-color: presets.$colorTertiary;
    color: presets.$colorPrimary;
  }
}

@media (min-width: 768px) {
  .radio {
    .radio__label {
      margin-bottom: 1rem;
    }
  }
}

// non-touchscreens
@media (hover: hover) {
  .radio {
    .radio__label {
      &:hover {
        background-color: white;
        color: presets.$colorPrimary;
        cursor: pointer;
      }
    }
  }
}

// NAVIGATION (SETTINGS) BAR
.navbar {
  height: 4rem;
  padding: 0;
  &.navbar--grey {
    background-color: presets.$colorLightGrey;
    border-top: 0.0625rem solid presets.$colorMediumGrey;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .fa,
  .fas,
  .far,
  .fal,
  .fad,
  .fab {
    font-size: 1.25rem;
  }
  .nav-link {
    color: presets.$colorDarkGrey;
    display: inline-block;
    font-size: 0.75rem;
    .active {
      color: presets.$colorSecondary;
    }
  }

  // non-touchscreens
  @media (hover: hover) {
    .nav-link {
      &:hover {
        color: presets.$colorTertiary;
        .active {
          color: presets.$colorTertiary;
        }
      }
    }
  }
}
