// PRESET VARIABLES
@use "sass/presets";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300;400&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Noto Sans", Arial, sans-serif;
  color: presets.$colorDarkGrey;
}
a {
  color: presets.$colorDarkGrey;
  &:hover {
    color: presets.$colorPrimary;
  }
}
.text--primary {
  color: presets.$colorPrimary;
}
.text--secondary {
  color: presets.$colorSecondary;
}
.text--tertiary {
  color: presets.$colorTertiary;
}
.text--red {
  color: presets.$colorRed;
}
